
body {
  color: #333;
  font-family: Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}


#header {
  text-align: center;
}

#header h1 {
  color: #0099CC;
  border-bottom: none;
  font-family: "Monospaced",Monaco;
  font-size: 5em;
  font-weight: bold;
  line-height: 1em;
  margin: 44px 0 10px 0;
}

#footer {
  margin-top: 3em;
}


#header a:link, #header a:visited {
  font-weight: normal;
  text-decoration: none
}


#container {
  margin: 0 auto 60px auto;
  max-width: 700px;
  width: 94%;
}

a:link, a:visited {
  color: #0099CC;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

a[rel="tag"] {
  color: #666;
}


h1,h2,h3 {
  color: #333;
  line-height: 1.2em;
  border-bottom: 1px solid #eee;
}

h1 a:link, h1 a:visited,h2 a:link, h2 a:visited,h3 a:link, h3 a:visited {
  text-decoration: none
}

h1 a:hover, h1 a:focus, h1 a:active,h2 a:hover, h2 a:focus, h2 a:active,
h3 a:hover, h3 a:focus, h3 a:active{
  text-decoration: underline
}

h1 {
  font-size: 1.8em;
  margin: .8em 0 .2em 0
}

h2 {
  font-size: 1.5em;
  padding-bottom: 0.15em;
  margin: 1.2em 0 .4em 0;
}

h3 {
  font-size: 1.3em;
  margin: 1.2em 0 .6em 0;
  color: #999
}

.postHeader {
  text-align: center
}

.content h1 a:link, .content h1 a:visited {
  color: #333;
  text-decoration: none
}

p {
  font-size: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  line-height: 1.6em;
}

li p {
  margin-top: 0.2em;
  margin-bottom: 0.2;
}


ul {
  margin-top: .5em;
  margin-bottom: 1.5em;
  padding-left: 0em;
  list-style-type: none;
}

ul.bullet {
  padding-left: 1.5em;
  list-style-type: disc;
}

li {
  margin: .3em 0
}

abbr[title] {
  border-bottom: 1px dotted #999
}


.resume h1 {
  border-bottom: 0;
  margin-top: 0;
  text-align: center
}

.resume h3 {
  border-bottom: 0;
  color: #333;
  font-size: 1.05em;
  font-weight: bold;
  margin-bottom: .5em;
  text-decoration: none;
  vertical-align: top
}

.resume li span,.resume h3 span {
  color: #666;
  font-size: 1em;
  font-weight: normal;
  margin-left: 2px;
}

.resume li span:before,.resume h3 span:before {
  content: " ["
}

.resume li span:after,.resume h3 span:after {
  content: "]"
}

.resume .right h3 {
  margin-bottom: .3em
}

.resume .right h3 + p {
  margin: .3em 0
}

.resume .right ul {
  margin-top: .3em
}

a.prev {
  left: -120px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

a.next {
  right: -120px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

a.prev,a.next {
  display: block;
  font-size: 1.1em;
  font-weight: normal;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  overflow: hidden;
  padding: 50px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  top: 45%;
  width: 250px;
  white-space: nowrap;
  z-index: 2;
}

a.prev:hover,a.next:hover {
  opacity: 1 !important;
  -ms-filter: none;
  filter: none
}

a.prev.hidden,a.next.hidden,a.prev.hidden:hover,a.next.hidden:hover {
  display: none
}

a.prev:before,a.next:before {
  content: "";
  background: url("/images/up.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 24px;
  left: 50%;
  margin-left: -12px;
  position: absolute;
  top: 25px;
  width: 24px
}

ul.listing {
  margin: 20px 0 30px 0;
  padding: 0;
}

ul.listing > li {
  list-style: none;
  margin: 20px 0;
}

ul.listing > li > a:link, ul.listing > li > a:visited {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none
}

ul.listing > li > a:hover, ul.listing > li > a:focus,
ul.listing > li > a:active {
  text-decoration: underline
}

ul.listing span,ul.listing time {
  display: block;
  color: #666
}

ul.listing time a:link, ul.listing time a:visited {
  color: #666;
  text-decoration: underline
}

ul.listing time a:hover, ul.listing time a:focus, ul.listing time a:active {
  color: #FF0000
}
